<?xml version='1.0' encoding='utf-8'?>
<widget id="io.softhd.callcenterlax" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Call Center LaX</name>
    <description>
        Monitoramento de Call Center
    </description>
    <author email="contato@softwareshd.com.br" href="http://www.softwareshd.com.br">
        Softwares HD
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
