<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CallCenterElax</name>
    <description>
        Call Center Elastix - Interagindo com seu sistema de CallCenter
    </description>
    <author email="contato@softwareshd.com.br" href="http://www.softwareshd.com.br">
        Softwares HD
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="permissions" value="none" />
	<platform name="android">

	<config-file target="AndroidManifest.xml" parent="/*">

            <supports-screens android:anyDensity="custom" android:largeScreens="custom" android:normalScreens="custom" android:resizeable="custom" android:smallScreens="custom" android:xlargeScreens="custom" />

            <uses-permission android:name="android.permission.READ_CONTACTS" android:maxSdkVersion="15" />
            <uses-permission android:name="android.permission.WRITE_CONTACTS" />
            <uses-permission android:name="android.permission.CAMERA" />

            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />

            <permission android:name="com.mobiledonky.example.push.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <permission android:name="com.mobiledonky.example.push.permission.C2D_TEST" android:protectionLevel="signature" />
        </config-file>
    </plataform>
</widget>
