<?xml version='1.0' encoding='utf-8'?>
<widget id="io.softhd.callcenterlax" version="1.0.0"  xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CallCenterElax</name>
    <description>
        Call Center Elastix - Interagindo com seu sistema de CallCenter
    </description>
    <author email="contato@softwareshd.com.br" href="http://www.softwareshd.com.br">
        Softwares HD
    </author>
    <content src="index.html" />
    <access origin="*"/>
    <feature name="http://api.phonegap.com/1.0/file" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
